body {
    font-family: helvetica;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "name input"
        "whc color";
    gap: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.name {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid black;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;

}

.input {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid black;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    background-size: cover;
    align-items: flex-start;
    justify-content: center;
}

.input label, .input input {
    border-radius: 0px;
    display: flex;
    margin: 4px 0 3px 5px;
}

.input label {
    padding-left: 5px;
}

.whc {
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    border: 1px solid black;
    height: 200px;
    width: 200px;
    color: black;
}

.whc h1, h2, h3, p {
    margin: 2px;
}

.colorbox {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid black;
    height: 200px;
    width: 200px;
}


.color {
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-self: flex-end;
    border: none;
}
.colorbox h1 {
    margin-bottom: 3px;
}

#box {
    margin-top: 0;
    border: 1px solid black;
}